@import url('https://rsms.me/inter/inter.css');

$maxbreakpoint: 767.98px;
$minbreakpoint: 768px;

* {
    box-sizing: border-box;
    // outline: 1px solid rgba($color: green, $alpha: 0.25);
}

html, body {
    height: 100%; //?
    margin: 0;
    font-family: 'Inter', sans-serif;
}