---
---

body {
    padding-top: calc(1.2rem + 54px); //TODO: move this to default page style
    @media only screen and (max-width: 767.98px) {
        padding-top: 70px;
    }
}

.content {
    min-height: calc(100% - ((5.75rem + 1.25em) + 1px));
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    // width: fit-content;
    padding: 1em;
    border-radius: 0.5em;
    opacity: 0.6;
    span {
        display: block;
        line-height: 1.5;
        text-align: center;
        &:last-child {
            font-size: 0.75em;
        }
    }
}

@media only screen and (max-width: 575.98px) {
    .square {
        font-size: 0.875rem;
    }
}