---
---

.wip-banner {
    width: 100%;
    padding: 0.5em;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    animation: wip-banner-slide-down 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Inter", sans-serif;
    font-size: 0.8em;
    color: black;

    $stripes-color: rgba(0, 0, 0, 0.05);
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 15px,
        $stripes-color 15px,
        $stripes-color 30px
    ) #FFEB3B;

    svg, span {
        display: block;
    }
}

.wip-banner svg {
    height: 1em;
    width: auto;
    margin-right: 0.6em;
}

@keyframes wip-banner-slide-down {
    from { transform: translateY(-100%); }
}